.heroForm {
  margin-top: 12px;

  &__inputs {
    display: flex;
    position: relative;

    &--dropdown:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__button {
    // position: relative;
    height: 50px !important;
    // text-align: center;
    margin-top: 12px;
    // font-size: 14px;
    // cursor: pointer;
    // clip-path: polygon(0 0, 100% 0, 96% 100%, 4% 100%);
    // background-color: #FCC211;
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;
    // border-bottom-left-radius: 30px;
    // border-bottom-right-radius: 30px;
    // background-color: transparent;
    // background-image: url(../../images/yellowbutton.png);
    // background-repeat: no-repeat;
    // background-position:  center;
    // background-size: contain;
    &:hover {
      // background-image: url(../../images/buttonHover.png);
    }
  }
}
