.heroForm {
  margin-top: 12px;

  &__inputs {
    display: flex;
    position: relative;

    &--dropdown:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__button {
    height: 50px !important;
    margin-top: 12px;
  }
}
