.quantityBadge {
  text-align: center;
  background-color: $badge-bg;
  padding: 2px 4px;
  border-radius: 50%;
  color: $bagde-text;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  position: absolute;
}
