.welcomeBonus {
  @include flex-center;
  width: 100%;
  height: 96px;
  padding: 16px 20px 16px 8px;
  clip-path: polygon(0 6%, 100% 0%, 98% 100%, 0 94%);
  border-top-left-radius: 12%;
  border-bottom-left-radius: 12%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px;
  margin-bottom: 4px;
  cursor: pointer;

  &.red {
    // background-image: url(../../images/welcomeBonus/welcomeBonusBgRed.png);
    background: linear-gradient(263deg, #DD1F41 -2.11%, #6A0C1D 100%);
  }
  &.purple {
    // background-image: url(../../images/welcomeBonus/welcomeBonusBgPurple.png);
    background: linear-gradient(256deg, #440079 -15.3%, #7B0260 61.75%);
  }
  &.blue {
    // background-image: url(../../images/welcomeBonus/welcomeBonusBgBlue.png);
    background: linear-gradient(256deg, #006379 -15.3%, #3E027B 61.75%);
  }

  &-textContent {
    margin-left: 13px;
    color: $text-yellow;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    &--title {
      color: $text-white;
    }
  }

  &-actions {
    @include flex-center;
    margin-left: auto;

    & div {
      @include flex-center;
    }

    &--arrow {
      margin-left: 15px;
    }

    &--radio {
      width: 20px;
      height: 20px;
      background-image: url(../../images/welcomeBonus/Radio.png);
      background-repeat: no-repeat;
    }
  }
  &.checked .welcomeBonus-actions--radio {
    background-image: url(../../images/welcomeBonus/check-circle.png);
  }
}
