.welcomeBonus {
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 16px 20px 16px 8px;
  border-radius: 10px;
  margin-bottom: 4px;
  cursor: pointer;

  &.red {
    background-image: url(../../images/welcomeBonus/welcomeBonusBgRed.png);
  }
  &.purple {
    background-image: url(../../images/welcomeBonus/welcomeBonusBgPurple.png);
  }
  &.blue {
    background-image: url(../../images/welcomeBonus/welcomeBonusBgBlue.png);
  }

  &-textContent {
    margin-left: 13px;
    color: $text-yellow;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    &--title {
      color: $text-white;
    }
  }

  &-actions {
    @include flex-center;
    margin-left: auto;

    & div {
      @include flex-center;
    }

    &--arrow {
      margin-left: 15px;
    }

    &--radio {
      width: 20px;
      height: 20px;
      background-image: url(../../images/welcomeBonus/Radio.png);
      background-repeat: no-repeat;
    }
  }
  &.checked .welcomeBonus-actions--radio {
    background-image: url(../../images/welcomeBonus/check-circle.png);
  }
}
