.welcomeBonus {
  display: flex;
  // background: linear-gradient(263deg, #dd1f41 -2.11%, #6a0c1d 100%);
  background-image: url(../../images/welcomeBonus/welcomeBonusBg.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 16px 20px 16px 8px;
  border-radius: 10px;
  margin-bottom: 12px;

  &-textContent {
    margin-left: 13px;
    color: $text-yellow;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    &--title {
      color: $text-white;
    }
  }

  &-actions {
    display: flex;
    align-items: center;
    margin-left: auto;

    &--arrow {
      margin-left: 15px;
    }
  }
}
