.homepage.menuopen .footer {
  margin-left: -16px;
  margin-right: -16px;
  padding: 0 16px 8px;
  background: linear-gradient(180deg, rgba(5, 7, 26, 0) 0%, #111323 63.54%);
}
.footer {
  padding-bottom: 8px;

  &__wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 10px;
    @include breakpoint(sm) {
      margin: auto auto 0;
      max-width: 458px;
      margin: 0 auto;
    }

    &--action {
      @include flex-center;
    }

    &--action--menu {
      position: relative;

      &--fire {
        position: absolute;
        top: -1.7rem;
      }
    }
  }

  &__button--signup .button__bgImg {
    border-radius: 10px;
    filter: drop-shadow(0px 0px 24px rgba(255, 77, 0, 0.87));
  }

  &__button--menu {
    @include flex-center;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 140%;
    cursor: pointer;
    background: linear-gradient(180deg, #fff1bd 0%, #ffcdb0 100%), #ffc7c7;
    border: 6px solid #e11717;
    border-radius: 50%;
    height: auto;
    aspect-ratio: 1/1;
    position: relative;
  }
}
