.footer {
  margin-top: auto;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--action {
      @include flex-center;
      width: 37%;
    }
    &--action--menu {
      position: relative;
      width: 26%;

      &--fire {
        position: absolute;
        top: -31px;
      }
    }
  }

  &__button {
    width: 100%;
    height: 45px;
    background-color: transparent;
    color: $text-white;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 140%;
    cursor: pointer;

    &--signin {
      clip-path: polygon(4% 0, 96% 0, 100% 100%, 0 100%);
      background-color: rgba(79, 92, 105, 0.77);
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    &--signup {
      color: $main-text;
      clip-path: polygon(0 0, 100% 0, 96% 100%, 4% 100%);
      background-color: #fcc211;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    &--menu {
      @include flex-center;
      background: linear-gradient(180deg, #fff1bd 0%, #ffcdb0 100%), #ffc7c7;
      border: 6px solid #e11717;
      border-radius: 50%;
      width: 53px;
      height: 53px;
      transform: scale(1.2);
      position: relative;
    }
  }
}
