.header {
    text-align: left;
    &-content {
        display: flex;
        align-items: flex-end;
    }
    &-item {
        margin-right: 8px;
        &--search {
            cursor: pointer;
        }
    }
}
