.header {
    text-align: left;
    margin-bottom: 15px;
    &__content {
        display: flex;
        align-items: flex-end;
    }
    &__item {
        margin-right: 8px;
        &--search {
            cursor: pointer;
        }
    }
}
